* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES GLOBALES *********************************************************/

:root {
  --c-squad: #ffc40b;
  --c-fondo: rgb(30, 30, 30);
  --c-text1: white;
  --c-text2: rgb(237, 237, 237);
  --c-text3: var(--c-fondo);
  --overlay: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --gradient: linear-gradient(var(--c-fondo), rgba(0, 0, 0, 1));
}

/*******************************************************************************
*                      TODAS LAS PANTALLAS (MOBILE-FIRST)                      *
*******************************************************************************/

/* BODY ***********************************************************************/

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--c-fondo);
  color: var(--c-text2);
  /* Hasta 300px el sitio "funciona" */
  min-width: 300px;
}
.max-w {
  max-width: 1100px;
  margin: auto;
}
.destacado {
  font-size: 1em;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid var(--c-squad);
}
#goTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}
.button {
  background-color: var(--c-squad);
  color: var(--c-text3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* HEADER *********************************************************************/

/* Logo */
.logo {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
span {
  color: var(--c-squad);
}
header {
  padding: 0.5rem;
  border-bottom: 1px solid var(--c-squad);
  background-color: var(--c-fondo);
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: var(--c-text1);
  font-weight: bold;
}
header a:hover {
  color: var(--c-squad);
}

/* HEAD ***********************************************************************/

.head {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll, fixed;
}
.head p {
  padding: 0 1.5rem 1.5rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  color: var(--c-squad);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 20vh;
}

/* CONTENIDO ******************************************************************/

.grid {
  display: grid;
}

h2 {
  font-size: 1.75rem;
  color: var(--c-squad);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  height: 10vh;
  text-transform: uppercase;
  margin: 0 auto 1.5rem 0;
  padding: 0 1.5rem;
}
h3 {
  font-size: 1.5rem;
  color: var(--c-squad);
  padding: 0 1.5rem 1.5rem 1.5rem;
}
h4 {
  font-size: 1.25rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
p {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

ul {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin-left: 1.5rem;
}

a {
  color: var(--c-squad);
}

/* CARDS **********************************************************************/

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1.5rem 1.5rem 1.5rem;
  gap: 1.5rem;
  justify-items: center;
}
.card {
  border: var(--c-squad) solid 1px;
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  justify-items: center;
}
.card img {
  aspect-ratio: 1;
  width: 100%;
  padding: 1rem;
  max-width: 150px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.card h3 {
  font-size: 1.25rem;
  padding: 0;
  text-align: center;
}
.card h4 {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}

/* FORMULARIO *****************************************************************/

form {
  border: var(--c-squad) solid 1px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* IFRAME *********************************************************************/

iframe {
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 100%;
  aspect-ratio: 16/9;
}

/* FOOTER *********************************************************************/

footer {
  border-top: 1px solid var(--c-squad);
  padding: 1.5rem;
}

footer div {
  text-align: center;
  margin-top: 1.5rem;
}

/* IMÁGENES *******************************************************************/

.img1 {
  background-image: var(--overlay), url("../img/ss/1.jpg");
}

.img2 {
  background-image: var(--overlay), url("../img/ss/2.jpg");
}

.img3 {
  background-image: var(--overlay), url("../img/ss/3.jpg");
}

.img4 {
  background-image: var(--overlay), url("../img/ss/4.jpg");
}

.img5 {
  background-image: var(--overlay), url("../img/ss/5.jpg");
}

.img6 {
  background-image: var(--overlay), url("../img/ss/6.jpg");
}

/*******************************************************************************
*                              PANTALLAS MEDIANAS                              *
*******************************************************************************/

@media (min-width: 720px) {
  /* HEADER *******************************************************************/

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  nav {
    flex-direction: row;
    width: 300px;
  }
  .logo {
    padding: 0;
  }

  /* CONTENIDO ****************************************************************/

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* CARDS ********************************************************************/

  .cards {
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
  }
}

/*******************************************************************************
*                              PANTALLAS GRANDES                               *
*******************************************************************************/

@media (min-width: 1000px) {
  /* HEADER *******************************************************************/

  header {
    padding: 1rem 1rem;
  }

  /* CARDS ********************************************************************/

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    grid-template-columns: 1fr;
  }
  .card-content {
    justify-content: flex-end;
  }
}
