* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/* VARIABLES GLOBALES *********************************************************/

:root {
  /* Colores */
  --c-squad: #ffc40b;
  --c-fondo: rgb(30, 30, 30);
  --c-borde: black;
  --c-texto1: white;
  --c-texto2: white;
  --c-texto3: var(--c-fondo);
  --c-error1: red;
  --c-error2: rgba(255, 0, 0, 0.1);
  --c-disabled1: rgba(53, 53, 53, 0.5);
  --c-disabled2: lightgrey;

  --overlay: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --gradient: linear-gradient(var(--c-fondo), rgba(0, 0, 0, 1));
}

/*******************************************************************************
*                      TODAS LAS PANTALLAS (MOBILE-FIRST)                      *
*******************************************************************************/

/* BODY ***********************************************************************/

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--c-fondo);
  color: var(--c-texto2);
  /* Hasta 320px el sitio "funciona" bien
  https://uxpickle.com/what-is-the-smallest-screen-size-you-should-design-for/
  */
  min-width: 320px;
}
.max-w {
  max-width: 1100px;
  margin: auto;
}
.destacado {
  font-size: 1em;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid var(--c-squad);
}
#irArriba {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  border: black solid 1px;
}
.boton {
  background-color: var(--c-squad);
  color: var(--c-texto3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  color: var(--c-texto3);

  /* Efecto el poner el puntero encima */

  /* display: inline-block; */
  /* vertical-align: middle; */
  /* -webkit-transform: perspective(1px) translateZ(0); */
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  /* -webkit-transition-duration: 0.3s; */
  /* transition-duration: 0.3s; */
  /* -webkit-transition-property: box-shadow; */
  /* transition-property: box-shadow; */
  transition: box-shadow 0.3s;
  /* box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6)*/
  /* box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0); */
  /* Hack to improve aliasing on mobile/tablet devices */
}
.boton:hover,
.boton:focus,
.boton:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  /* box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0); */
  /* Hack to improve aliasing on mobile/tablet devices */
}

.boton:disabled {
  background-color: var(--c-disabled1);
  color: var(--c-disabled2);
  cursor: not-allowed;
}
.boton:disabled:hover,
.boton:disabled:focus,
.boton:disabled:active {
  box-shadow: none;
}
.boton i {
  font-size: 1.5rem;
}
/* Efecto teclas */
kbd {
  --bg: #898b90;
  --txt: #222325;
  --border: #3d3e42;

  background-color: var(--bg);
  color: var(--txt);
  border-radius: 0.25rem;
  border: 1px solid var(--border);
  box-shadow: 0 2px 0 1px var(--border);
  cursor: default;
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  line-height: 1;
  min-width: 0.75rem;
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
}
kbd:hover {
  box-shadow: 0 1px 0 0.5px var(--border);
  top: 1px;
}

/* HEADER *********************************************************************/

header {
  padding: 0.5rem;
  border-bottom: 1px solid var(--c-squad);
  background-color: var(--c-fondo);
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: var(--c-texto1);
  font-weight: bold;
}
header a:hover {
  color: var(--c-squad);
}
/* Logo */
.logo {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
span {
  color: var(--c-squad);
}
header a:hover span {
  color: var(--c-texto1);
}

/* HEAD ***********************************************************************/

.head {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll, fixed;
}
.head p {
  padding: 0 1.5rem 1.5rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  color: var(--c-squad);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 20vh;
}

/* CONTENIDO ******************************************************************/

.grid {
  display: grid;
}

h2 {
  font-size: 1.75rem;
  color: var(--c-squad);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  height: 10vh;
  text-transform: uppercase;
  margin: 0 auto 1.5rem 0;
  padding: 0 1.5rem;
}
h3 {
  font-size: 1.5rem;
  color: var(--c-squad);
  padding: 0 1.5rem 1.5rem 1.5rem;
}
h4 {
  font-size: 1.25rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
p {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

ul {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin-left: 1.5rem;
}

a {
  color: var(--c-squad);
}

/* CARDS **********************************************************************/

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1.5rem 1.5rem 1.5rem;
  gap: 1.5rem;
  justify-items: center;
}
.card {
  border: var(--c-squad) solid 1px;
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  justify-items: center;
  align-content: flex-start;
  height: 100%;
}
.card:hover {
  /* transform: scale(1.025, 1.025);
  transition: transform 0.1s; */
}
.card img {
  aspect-ratio: 1;
  width: 100%;
  padding: 1rem;
  max-width: 150px;
}
.card-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 0.5rem;
  /* width: 100%; */
  /* height: 400px; */
  justify-content: flex-end;
  align-self: flex-end;
}
.card h3 {
  font-size: 1.25rem;
  padding: 0;
  text-align: center;
}
.card h4 {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}
.card p {
  /* text-align: justify; */
  padding: 0;
  margin: 0;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  justify-self: flex-end;
}

.card-buttons .boton {
  width: 100%;
}

/* FORMULARIO *****************************************************************/

form {
  border: var(--c-squad) solid 1px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  background-color: var(--c-fondo);
  color: var(--c-texto2);
  border: none;
  outline: white solid 1px;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 2.5rem;
}
input:focus,
textarea:focus {
  outline: var(--c-squad) solid 1px;
}
.error {
  /* outline: red solid 1px; */
  background-color: var(--c-error2);
}
.error:focus {
  outline: var(--c-error1) solid 1px;
}

/* IFRAME *********************************************************************/

iframe {
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 100%;
  aspect-ratio: 16/9;
}

/* FOOTER *********************************************************************/

footer {
  border-top: 1px solid var(--c-squad);
  padding: 1.5rem;
}

footer div {
  text-align: center;
  margin-top: 1.5rem;
}

/*******************************************************************************
*                              PANTALLAS MEDIANAS                              *
*******************************************************************************/

@media (min-width: 700px) {
  /* HEADER *******************************************************************/

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  nav {
    flex-direction: row;
    width: 300px;
  }
  .logo {
    padding: 0;
  }

  /* CONTENIDO ****************************************************************/

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* CARDS ********************************************************************/

  .cards {
    grid-template-columns: 1fr 1fr;
    /* justify-items: stretch; */
  }

  .card {
    grid-template-columns: 1fr;
  }
}

/*******************************************************************************
*                              PANTALLAS GRANDES                               *
*******************************************************************************/

@media (min-width: 1000px) {
  /* HEADER *******************************************************************/

  header {
    padding: 1rem 1rem;
  }

  /* CARDS ********************************************************************/

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-content {
    justify-content: flex-end;
  }
}

@media (max-width: 410px) {
  .card {
    grid-template-columns: 1fr;
  }
}
