{% extends 'base.html' %}

{% block head %}
<title>Inicio - SQUAD[Ñ]</title>
<!-- Esto evita que las imágenes de fondo de otras páginas se carguen
    innecesariamente -->
    <style>
      .img {
        background-image: var(--capa-sobre-fondo), url("{{ url_for('static', filename='img/ss/16.jpg') }}");
      }

    </style>
{% endblock %}

{% block main %}
      <section class="principal img">
        <h1>Inicio</h1>
        <p>
          <strong>SQUAD<span>[Ñ]</span></strong>es un espacio para los jugadores
          de Squad de habla hispana. Encontrarás cómo y dónde jugar sin depender
          del inglés.
        </p>
      </section>
      <section>
        <h2 class="img">¿Qué es Squad?</h2>
        <div class="columnas">
          <div>
            <p>
              <strong>
                Squad es un juego de disparos en primera persona multijugador en
                línea que apunta a capturar el realismo del combate a través de
                la comunicación y el trabajo en equipo.
              </strong>
            </p>
            <p>
              Construido desde cero en Unreal Engine 4, Squad enfrentará a
              equipos de hasta 50 personas entre sí en intensos escenarios de
              combate de <i>armas combinadas</i> en la época moderna. En este
              ambiente realista, los jugadores dictan el flujo del juego, con
              una jugabilidad orgánica y emergente que reina de forma suprema.
            </p>
          </div>
          <iframe src="https://www.youtube.com/embed/UDnUD73gRXk?autoplay=1&mute=1&loop=1" title="YouTube video player"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </section>

      <section>
        <h2 class="img" id="contacto">Contacto</h2>
        <p>
          Este sitio está hecho por y para la comunidad hispanohablante de
          Squad y cualquier aporte para mejorar será bienvenido.
        </p>
        <form action="mailto:contacto@squadñ.tk" method="get" enctype="text/plain" target="_blank" novalidate>
          <input type="text" name="nombre" placeholder="Nombre (opcional)">
          <input type="email" name="correo" placeholder="Correo" required>
          <input type="text" name="subject" placeholder="Asunto">
          <textarea name="body" placeholder="Mensaje" required></textarea>
          <button class="boton" type="submit" disabled>Enviar</button>
        </form>
      </section>
{% endblock %}
